
<form action="/post" method="post" id="postform">
<h1>Create a post</h1>
<div class="ui huge form">
<div class="field">
    <label>Title</label>
    <input type="text" name="post_title" id="post_title" placeholder="Title">
  </div>
  <div class="field">
    <label>Body Text</label>
    <textarea rows="4" cols="50" name="text_body" id="text_body" form="postform"></textarea>
  </div>
  <button class="fluid ui huge teal button" input type="submit" value="Publish">Publish</button>
  </form>