
<form action="/post" method="post" id="postform">
<div class="ui huge form">
  <div class="field">
    <label>Write a post</label>
    <textarea rows="4" cols="50" name="text_body" id="text_body" form="postform"></textarea>
  </div>
  <button class="ui teal button" input type="submit" value="Publish">Publish</button>
  </form>