<% if session[:user_id] %>

   <h2>Hi <%= @firstname %>!</h2>
  <a href="/signout">Sign out</a>

  <a href="/post">Create a post</a>

<% else %>
  <a href="/signin">Sign In</a>
  <a href="/signup">Sign Up</a>
<% end %>