
<div id="splashtxt">
<h1 id="logo">Alpinist</h1>
<h1>A blogging platform for people who enjoy mountain climbing</h1>
<a href="/signup"><button class="fluid ui huge yellow button">Create your blog now</button></a></div>
<img id="splashimg" src="/images/iceclimbers.png">
