<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="layout.css">
        </head>

        <body>
        <a href="/"><h1>Netflix'd</h1></a>
            <%= yield %>
        </body>

</html>