<form action="/delete/<%=session[:user_id]%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button class="ui huge red button" type="submit" value="Delete Account?">Delete your account</button>
</form>