<h2>Sign Up</h2>

<form action="/signup" method="post">
  <input type="text" name="first_name" id="first_name" placeholder="First Name">
  <input type="text" name="last_name" id="last_name" placeholder="Last Name">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="text" name="birthday" id="birthday" placeholder="Last Name">
  <input type="submit" value="Go">
</form>