body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    margin:0;
    a:link, a:visited, a:active {
        text-decoration: none;
    }
    h1, h2, h3 {
        margin:0;
        text-align:center;
    }
    nav {
        width:100%;
        display: flex;
        align-items: center;
        padding:20px;
        background-color:whitesmoke;
    }
    .wrapper {
        display:flex;
        width:100vw;
        justify-content: center;
        align-content: center;
        position: absolute;
        #splashtxt {
            width:500px;
            left:0;
        }
    }   #splashimg {
            right:0;
            bottom:0;
            width:60%;
    }
    #card {
        width:500px;
        padding:20px;
        border-radius: 5px;
        box-shadow: 0px 0px 20px -9px black;
    }
    .posts {
        display:flex;
        flex-direction: column-reverse;
    }
    .profile-info {
        display:flex;
        flex-direction: column;
        padding:20px;
        top:0;
        margin-top:100px;
        background-color:white;
        border-radius:10px;
    }
    #post {
        padding: 20px;
        box-shadow: 0px 0px 20px -9px black;
        margin: 10px;
        width: 500px;
        border-radius: 10px;
        font-size: 18px;
    }
}